/*
snake green = color: rgba(97, 194, 108, 1)
apple red = rgba(207, 32, 37, 1)
*/



/*input {*/
/*    width: 100%*/
/*}*/
body {
    background: black;
    font-family: "Courier New";

}

.main-body {
    background: rgba(50, 53, 59, 1);
    color: white;
}

p {
    color: white;
}

.form-container {
    margin-top: 80px;
}

img {
    width: 100%;
}

.description, .instructions {
    text-align: center;
    margin: 2rem 0;
}


.image-container {
    margin: 50px 0;
}

.description h4 {
    margin-bottom: 2rem;
}

h1, .navbar-brand {
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 5px;
    color: rgba(97, 194, 108, 1);
}

.navbar-brand:hover {
    padding-left: 40px;
    color: rgba(97, 242, 108, 1);
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0,1,1,0)
}

nav {
    background: purple;
    opacity: 70%;
}

.navbar-nav a {
    color: yellow;
    text-transform: lowercase;
}

.navbar-nav a:hover {
    font-weight: bold;
    transition: .5s;
}

.navbar-collapse {
    flex-direction: row-reverse;

}
.nav-item {
    text-align: center;
    margin-left: 1rem;
}

.main-body {
    /*margin-top: 2rem;*/
}

.form-container {
    margin: 1rem 0;
}

button.btn {
    width: 100%;
    background: purple;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgba(97, 194, 108, 1);
}

.button-p {
    text-align: center;
}

.log-btn {
    margin-top: 1rem;
}

input {
    height: 2.5rem;
    width: 100%;
}

.form-row {
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
}

button.navbar-toggler {
    color: rgba(97, 194, 108, 1);
    font-size: 2rem;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.game-box {
    height: 100%;
}

#game-board {
    background-color: black;
    opacity: 60%;
    width: 80vmin;
    height: 80vmin;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(4.76%, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(4.76%, 1fr));
}

.snake {
    background-color: rgba(97, 194, 108, 1);
    border: .25vmin solid gray;
}

.head {
    background-color: yellow;
}

.food {
    background-color: rgba(207, 32, 37, 1) ;
    border: .25vmin solid gray;
}

.mobile-buttons {
    align-items: center;
    justify-content: center;
    width: 100%;
}


.mobile-buttons button {
    /*display: block;*/
    line-height: 0;
    width: 60px;
    height: 60px;
    margin: 10px;
    opacity: 70%;

}

.up-down{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.signup-body {
    background: rgba(50, 53, 59, 1);
}

/*.navbar-toggler-icon {*/
/*    content: "\f0c9";*/
/*    */
/*}*/